/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important;
}

/* ---------------------------------------------------------------------
 HTML5 Elements
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Variables
------------------------------------------------------------------------ */
:root {
    --color-transparent: rgba(0,0,0,0);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-brand-hot-pink: #e01b84;
    --color-brand-electric-blue: #12bbf2;
    --color-brand-charcoal: #0d000d;
    --color-brand-gray: #808080;
    --color-brand-concrete: #d5d5d5;
    --color-brand-offwhite: #edf0f1;
    --fontFamily-sans: 'Rubik', Helvetica, Arial, sans-serif;
    --fontFamily-serif: Georgia, Times, Times New Roman, serif;
    --fontSize-sm: 0.875rem;
    --fontSize-md: 0.9375rem;
    --fontSize-lg: 1.250rem;
    --fontSize-xl: 1.500rem;
    --fontSize-xxl: 1.750rem;
    --lineHeight-one: 1;
    --lineHeight-tight: 1.4;
    --lineHeight-std: 1.6;
    --lineHeight-loose: 2;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
html {
    background-color: var(--color-brand-charcoal);
}

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: normal;
    background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),
                      url("../media/bg-hero.jpg");
    color: var(--color-brand-charcoal);
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-md);
    line-height: var(--lineHeight-std);
    font-style: normal;
    font-weight: normal;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: var(--color-transparent);
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

abbr {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Helper - isVisuallyHidden
------------------------------------------------------------------------ */
.isVisuallyHidden {
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(100%)!important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
}

/* ---------------------------------------------------------------------
 Helper - Display Types
------------------------------------------------------------------------ */
.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

/* ---------------------------------------------------------------------
 Layout - Site
------------------------------------------------------------------------ */
.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site__main {
    flex: 1;
}

/* ---------------------------------------------------------------------
 Layout - Tier
------------------------------------------------------------------------ */
.tier {}

.tier--info {
    background-color: var(--color-brand-charcoal);
}

@media (min-width: 560px) {
    .tier--info {
        position: sticky;
        top: 0;
        z-index: 99999999;
    }
}

/* ---------------------------------------------------------------------
 Layout - Wrapper
------------------------------------------------------------------------ */
.wrapper {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---------------------------------------------------------------------
 Component - Infobar
------------------------------------------------------------------------ */
.infobar {
    padding: 14px 0;
    color: var(--color-white);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-sm);
    line-height: var(--lineHeight-one);
    text-align: center;
}

.infobar__list > * {
    padding: 7px 0;
}

@media (min-width: 560px) {
    .infobar__list > * {
        display: inline-block;
    }

    .infobar__list > * + * {
        padding-left: 45px;
    }
}

/* ---------------------------------------------------------------------
 Component - Badge
------------------------------------------------------------------------ */
.badge__icon {
    display: inline-block;
    padding-right: 2px;
}

.badge__text {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Component - Hero
------------------------------------------------------------------------ */
.hero {
    padding: 40px 20px;
}

.hero > * {
    max-width: 240px;
    margin: 0 auto;
}

.hero__brand {
    margin-bottom: 20px;
}

.hero__lede {
    text-align: center;
}

@media (min-width: 520px) {
    .hero {
        padding: 80px 20px;
    }

    .hero > * {
        max-width: 400px;
    }
}


/* ---------------------------------------------------------------------
 Typography - Headings
------------------------------------------------------------------------ */
.hdg {
    color: inherit;
    font-family: var(--fontFamily-serif);
    font-size: inherit;
    line-height: var(--lineHeight-tight);
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
}

.hdg--md { font-size: var(--fontSize-md); }
.hdg--lg { font-size: var(--fontSize-lg); }
.hdg--xl { font-size: var(--fontSize-xl); }
.hdg--xxl { font-size: var(--fontSize-xxl); }
.hdg--flex-lg2xl { font-size: var(--fontSize-lg); }

@media (min-width: 520px) {
    .hdg--flex-lg2xl { font-size: var(--fontSize-xl); }
}
