/* ---------------------------------------------------------------------
 Fonts - (Latin unicode range)
------------------------------------------------------------------------ */
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/rubik/rubik.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/rubik/rubik.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/rubik/rubik.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/rubik/rubik.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important;
}

abbr {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 HTML5 Elements
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template, [hidden] {
    display: none !important;
}

/* ---------------------------------------------------------------------
 Variables
------------------------------------------------------------------------ */
:root {
    --color-transparent: rgba(0,0,0,0);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-brand-hot-pink: #e01b84;
    --color-brand-hot-pink-shadow: #85114d;
    --color-brand-electric-blue: #12bbf2;
    --color-brand-charcoal: #0d000d;
    --color-brand-gray: #808080;
    --color-brand-concrete: #d5d5d5;
    --color-brand-offwhite: #edf0f1;
    --fontFamily-sans: "Rubik", Helvetica, Arial, serif;
    --fontFamily-serif: Georgia, Times, Times New Roman, serif;
    --fontSize-xs: 15px;
    --fontSize-md: 16px;
    --fontSize-lg: 20px;
    --fontSize-xl: 24px;
    --fontSize-xxl: 28px;
    --fontSize-xxxl: 36px;
    --fontSize-huge: 48px;
    --fontSize-mega: 60px;
    --lineHeight-one: 1;
    --lineHeight-tight: 1.4;
    --lineHeight-std: 1.6;
    --lineHeight-loose: 2;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
html {
    background-color: var(--color-brand-charcoal);
}

body {
    min-height: 100vh;
    background-color: var(--color-brand-offwhite);
    color: var(--color-brand-charcoal);
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-md);
    line-height: var(--lineHeight-std);
    font-style: normal;
    font-weight: normal;
    overflow-y: scroll;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.isLocked {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: var(--color-transparent);
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Helper - isVisuallyHidden
------------------------------------------------------------------------ */
.isVisuallyHidden {
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(100%)!important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
}

/* ---------------------------------------------------------------------
 Helper - Display Types
------------------------------------------------------------------------ */
.d-block {
    display: block;
}

@media (max-width: 400px) {
    .d-block--alt {
         display: inline;
    }
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

/* ---------------------------------------------------------------------
 Landmark - Masthead
------------------------------------------------------------------------ */
.masthead {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px 0;
}

.masthead__section--nav {
    flex: 1;
}

.masthead__section--cta {
    flex-basis: 150px;
    text-align: right;
}

/* ---------------------------------------------------------------------
 Landmark - Navigation
------------------------------------------------------------------------ */
.nav {
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-xl);
    font-weight: 500;
}

.nav__toggle {
    width: 40px;
    height: 40px;
    line-height: 1;
}

.nav a {
    display: inline-block;
    position: relative;
}

@media (max-width: 768px) {
    .nav__area__list > * + * {
        padding-top: 20px;
    }

    .nav__area {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        padding: 20px;
        background-color: var(--color-brand-charcoal);
        overflow: hidden;
        visibility: hidden;
        transition: height 1s cubic-bezier(0.19, 1, 0.22, 1), 0.5s top, 1.5s visibility;
        z-index: -1;
    }

    .nav__area.isVisible {
        top: 65px;
        height: calc(100% - 100px); /* top + p-bot + p-top */
        overflow: auto;
        visibility: visible;
    }

    .nav__area a {
        opacity: 0;
        transition: opacity 0.5s ease-in, color 0.2s linear;
    }

    .nav__area.isVisible a {
        opacity: 1;
    }

    .nav__area a:hover,
    .nav__area a:focus {
        color: var(--color-brand-hot-pink);
    }
}

@media (min-width: 769px) {
    .nav {
        font-size: var(--fontSize-sm);
    }

    .nav__toggle {
        display: none;
    }

    .nav__area {
        display: block;
    }

    .nav__area__list {
        display: flex;
        flex-flow: row nowrap;
    }

    .nav__area__list > * + * {
        padding-left: 30px;
    }

    .nav a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: var(--color-brand-hot-pink);
        transform-origin: bottom left;
        transition: transform 0.2s ease-out;
    }

    .nav a:hover::after,
    .nav a:focus::after,
    .nav a.isActive::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

}

/* ---------------------------------------------------------------------
 Layout - Site
------------------------------------------------------------------------ */
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site__masthead {
    position: sticky;
    top: 0;
    z-index: 1337;
}

.site__main {
    flex: 1;
}

.site__footer {

}

/* ---------------------------------------------------------------------
 Layout - Tier
------------------------------------------------------------------------ */
.tier {

}

.tier--charcoal {
    background-color: var(--color-brand-charcoal);
    color: var(--color-brand-offwhite);
}

.tier--offwhite {
    background-color: var(--color-brand-offwhite);
}

.tier--media {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: normal;
}

.tier--media--hero {
    background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),
                      url("../media/bg-hero.jpg");
}

/* ---------------------------------------------------------------------
 Layout - Wrapper
------------------------------------------------------------------------ */
.wrapper {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---------------------------------------------------------------------
 Component - Hamburger
------------------------------------------------------------------------ */
.hamburger {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;

    position: relative;
    height: 40px;
    width: 40px;
}

.hamburger__line {
    position: absolute;
    left: 0;
    width: 40px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-brand-offwhite);
    transition: transform 0.2s linear;
    transform: rotate(0deg);
    transform-origin: left center;
}

.hamburger__line--top {
    top: 11px;
    transition: transform 0.3s ease-in;
}

.hamburger__line--mid {
    top: 19px;
    transition: transform 0.3s linear, opacity 0.2s;
}

.hamburger__line--bot {
    top: 27px;
    transition: transform 0.3s ease-in;
}

.hamburger--isCloseButton .hamburger__line--top {
    transform: rotate(45deg) translateY(-8px);
}

.hamburger--isCloseButton .hamburger__line--mid {
    opacity: 0;
    transform: translateX(-70px);
}

.hamburger--isCloseButton .hamburger__line--bot {
    transform: rotate(-45deg) translateY(8px);
}

/* ---------------------------------------------------------------------
 Component - Hero
------------------------------------------------------------------------ */
.hero {
    padding: 40px 20px;
    min-height: 280px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hero__title {
    text-align: center;
    margin-bottom: 20px;
}

.hero__title--hasLogo picture {
    width: 240px;
}

.hero__lede {
    text-align: center;
}

@media (min-width: 560px) {
    .hero {
        min-height: 300px;
    }

    .hero__title--hasLogo picture {
        width: 400px;
    }
}

@media (min-width: 960px) {
    .hero {
        min-height: 320px;
    }

    .hero__title {
        margin-bottom: 30px;
    }
}

/* ---------------------------------------------------------------------
 Content - Button
------------------------------------------------------------------------ */
.btn {
    display: inline-block;
    padding: 7px 20px;
    margin: 0;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 3px 0 1px var(--color-brand-hot-pink-shadow);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-xs);
    line-height: normal;
    font-weight: 500;
    color: var(--color-white);
    background: none;
    background-color: var(--color-brand-hot-pink);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.15s linear;
}

.btn:hover,
.btn:focus {

}

.btn__icon {
    display: inline-block;
}
.btn:hover .btn__icon,
.btn:focus .btn__icon {
    animation: buttonbounce 0.3s alternate ease infinite;
}

@keyframes buttonbounce {
    from { transform: translateX(0); }
    to   { transform: translateX(3px); }
}

/* ---------------------------------------------------------------------
 Typography - Text
------------------------------------------------------------------------ */
.txt {
    color: inherit;
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-md);
    line-height: var(--lineHeight-std);
    font-style: normal;
    font-weight: normal;
    font-synthesis: initial;
    text-transform: inherit;
}

/* title */
.txt--title {
    color: var(--color-brand-charcoal);
    font-family: var(--fontFamily-sans);
    font-weight: 700;
    font-size: var(--fontSize-xxxl);
    line-height: var(--lineHeight-one);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -3px 2px 0 rgba(224,27,132,0.6), 2px -1px 0 rgba(18,187,242,0.6);
}

@media (min-width: 560px) {
    .txt--title {
        font-size: var(--fontSize-huge);
        text-shadow: -4px 3px 0 rgba(224,27,132,0.6), 3px -2px 0 rgba(18,187,242,0.6);
    }
}

@media (min-width: 960px) {
    .txt--title {
        font-size: var(--fontSize-mega);
        text-shadow: -5px 4px 0 rgba(224,27,132,0.6), 4px -3px 0 rgba(18,187,242,0.6);
    }
}

/* headings */
.txt--hdg {
    font-family: var(--fontFamily-serif);
    line-height: var(--lineHeight-tight);
    text-transform: none;
    letter-spacing: 0;
}

/* Fixed Sizes */
.txt--size-sm { font-size: var(--fontSize-sm); }
.txt--size-md { font-size: var(--fontSize-md); }
.txt--size-lg { font-size: var(--fontSize-lg); }
.txt--size-xl { font-size: var(--fontSize-xl); }
.txt--size-xxl { font-size: var(--fontSize-xxl); }

/* Flex Sizes */
.txt--flex-md2lg { font-size: var(--fontSize-md); }
.txt--flex-lg2xl { font-size: var(--fontSize-lg); }
@media (min-width: 560px) {
    .txt--flex-md2lg { font-size: var(--fontSize-lg); }
    .txt--flex-lg2xl { font-size: var(--fontSize-xl); }
}

/* Colors */
.txt--color-charcoal { color: var(--color-brand-charcoal); }
.txt--color-offwhite { color: var(--color-brand-offwhite); }

